<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="URL" value ="https://sygo.synergo.co"/>
    <add key="APPID" value ="https://sygo.synergo.co"/>
    <add key="TokenID" value ="cb73dfcb8d834f151985651e0901c19d333ad795"/>
    <add key ="ConnectionString" value ="Server=DESKTOP-CM93NRJ\SQLEXPRESS;Database=demo4synergoco;user id=sa;password=sa" />
    <add key ="TodoAPI" value ="https://sygo.synergo.co/api/Chat/GetAllTodoForChat"/>
    <add key ="SendBIRDsendMSG" value = "https://api-59C5BA07-9883-45CC-8BD6-AF5BCE744075.sendbird.com/v3/group_channels/" />



  </appSettings>
</configuration>


